DATABASE_URL=postgresql+psycopg://track_lift:change_me@127.0.0.1:5432/track_lift
TELEGRAM_CLIENT_ID=8909368694
TELEGRAM_CLIENT_SECRET=change_me
SESSION_SECRET=change_me_to_long_random_string
COOKIE_SECURE=true
CORS_ORIGINS=https://track-lift.swrsky.ru
INSECURE_DEMO_LOGIN=false
